.tileLarge {
    margin: 80px 0;
    min-height: 400px;
    text-decoration: none; 
    position: relative; 
    color: white;
   
    background-color:  rgba(255, 255, 255, 1)
}

.tileLarge > a  {
    text-decoration: none; 
}

.tileLarge:hover {
    background-color:  rgba(255, 255, 255, 0)
}

.description {
    display: none;
    font-size: 14px;
    text-align: right;
    letter-spacing: .5px;
    font-weight: normal; 
    padding-top: 16px;
    margin: right;
    width: 50%;

    text-decoration: none; 
    color: #1E0B40;

    transition: all 3s; 

    position: absolute;
    right: 0;
    top: 52%;

    font-family: "Roboto Mono"
}


.tileLarge:hover > a > .title> .description {
    display: block;
}

.tileLarge:hover > a > .tileLarge_image {
    mix-blend-mode: multiply;
    opacity: 1; 
    filter: grayscale(0%);
}


.title {
    color: white;
    font-weight: bold; 
    font-size: 32px;

    text-shadow: 1px 1px 3px rgba(0,0,0,.1);

    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    z-index: 3;

    text-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.tileLarge:hover > a >.title{
    color: #1E0B40;
    transform: translateX(-106%);
    text-align: right; 

    background-color: rgba(255, 255, 255, 0);

    text-shadow: 1px 1px 3px rgba(0,0,0,0);
}

.tileLarge_image {
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

.tileLarge_image > div {
    padding-bottom: 0!important
}
.tileLarge_image > div > picture > img {
    object-position: top;
    position: relative;
    margin: 0!important
} 

.tileLarge > img {
    object-position: top;
    position: relative;
    margin: 0!important
}

.tileLarge_image > div {
    width: 600px;
    height: 400px;
    padding-bottom: 0
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  /* and (min-device-width: 1380px) */
  and (-webkit-min-device-pixel-ratio: 2) 
/* ----------- iPad 1, 2, Mini and Air ----------- */
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1)

  {
      .tileLarge {
          width: 85vw;
          height: 300px;
          margin: 0 auto;
          margin-bottom: 32px; 
      }

      .tileLarge:hover > a >.title{
        color: white;

        transform: none;
        text-align: center;
    
        background-color: rgba(255, 255, 255, 0);
    
        text-shadow: 1px 1px 3px rgba(0,0,0,0);
    }

    .tileLarge:hover > a > .title> .description {
        display: none;
    }

  }

  
