.tileLarge {
    margin: 80px; 
    width: 600px;
    height: 400px;
    text-decoration: none; 
    position: relative; 
    color: white;
   
    background-color:  rgba(255, 255, 255, 1)

    /* border: 2px solid gold; */
}

.tileLarge > a  {
    text-decoration: none; 
    /* overflow: visible !important */
}

.tileLarge:hover {
    /* box-shadow: 2px 2px 4px rgba(0,0,0,.2); */
    background-color:  rgba(255, 255, 255, 0)
}


.description {
    display: none;
    font-size: 14px;
    text-align: right;
    letter-spacing: .5px;
    font-weight: normal; 
    padding-top: 16px;
    margin: right;
    width: 50%;

    /* transform: translate(-480px, -135px); */

    text-decoration: none; 
    color: #1E0B40;

    transition: all 3s; 

    position: absolute;
    right: 0;
    top: 52%;

    font-family: "Roboto Mono"
}


.tileLarge:hover > a > .title> .description {
    display: block;
    

}

.tileLarge:hover > a > .tileLarge_image {
    mix-blend-mode: multiply;
    opacity: 1; 
    filter: grayscale(0%);
}


.title {
    /* color: #1E0B40; */
/* 
    width: 80%;
    height: 40%; */
    /* color: black; */

    color: white;

    mix-blend-mode: overlay;
    font-weight: bold; 
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,.1);

    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    z-index: 3;

    text-shadow: 2px 2px 5px rgba(0,0,0,.2)
}

.tileLarge:hover > a >.title{
    color: #1E0B40;
    transform: translateX(-110%);
    text-align: right; 

    background-color: rgba(255, 255, 255, 0);

    text-shadow: 1px 1px 3px rgba(0,0,0,0);
   
}

.tileLarge_image {
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    mix-blend-mode: difference;
    filter: grayscale(100%);
    opacity: .3
}

.tileLarge_image > div {
    padding-bottom: 0!important
}
.tileLarge_image > div > picture > img {
    object-position: top;
    position: relative;
    margin: 0!important
} 

.tileLarge > img {
    object-position: top;
    position: relative;
    margin: 0!important
}

.tileLarge_image > div {
    width: 600px;
    height: 400px;
    padding-bottom: 0
}


/* for mobile: */

/* .tileLarge:hover > a > .text {
    color: white;
    font-weight: bold;
    letter-spacing: 1px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,.3);

    transform: translateX(-120%)
} */