.projectLand {
    height: 45vh; 
    position: relative; 
    background-color: lightblue
}

.projectContainer {

    width: 80%;

    margin-top: 400px;
    padding-left: 40vw;
    padding-bottom: 40px;
 
    /* border: 2px solid orange; */
    margin-left: 80px;

    position: relative;
}

.projectHeader {
   
    position: absolute;
    /* border: 2px solid blue; */
    color: black;
    /* height: 400px; */
    width: 350px;
    text-align: right;
    letter-spacing: 2; 
}

#projectIntro {
    transition: 1.5s all;
    color: black;
}

.projectTitle {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bolder;
}

.projectDescription {
    font-size: 16px;

    margin-top: 16px; 
    border-bottom: 2px solid 4px;
    font-family: "Roboto Mono"
}

.projectContent > h3 {
    font-weight: normal; 
    font-size: 20px; 
}

.projectContent > blockquote > h3 {
    font-weight: normal; 
}

.projectContent > blockquote {
    border-left: 2px solid black;
    padding-left: 1.45rem;

    letter-spacing: 1px;

    padding: 20px;
    margin: 32px 0!important;
}

.featuredImage {
    margin-bottom: 40px; 
}

.projectSummary  {
    text-align: right;
    font-family: "Roboto Mono"
}

.projectSummary > div {
    margin: 16px 0 
}

.projectContent> ul {
    list-style: none;
}

.bolder {
    font-weight: bold; 
    font-family: "Helvetica Neue"
}

.line { 
    margin-top: calc(1.45rem - 1px);
}

