.projectLand {
    height: 45vh; 
    position: relative; 
}

.projectContainer {
    margin-top: 35vh; 

    grid-column: 4/span 3;
}

.projectHeader {
    /* position: absolute;
    left: 22%; 
    top: 0; 
 
    color: #0E072E;
    width: 350px; */
    text-align: right;

    grid-column: 2/span 2;
    margin-top: 35vh;
}

#projectIntro {
    transition: 1.5s all;
    color:#0E072E;
}

.projectTitle {
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: bolder;

}

.projectDescription {
    font-size: 16px;

    margin-top: 16px; 
    border-bottom: 2px solid 4px;
    font-family: "Roboto Mono"
}

.projectContent {
    margin-bottom: 80px;
    color: #0E072E
}

.projectContent > h3 {
    font-weight: normal; 
    font-size: 20px; 
}

.projectContent > h4 {
    font-weight: bold; 
    font-family: "Roboto mono";
    letter-spacing: .5px
}

.projectContent > p {
    font-size: 14px;
    letter-spacing: .25px;
}

.projectContent > blockquote > h3 {
    font-weight: normal; 
}

.projectContent > blockquote {
    border-left: 2px solid #0E072E;
    padding-left: 1.45rem;

    letter-spacing: 1px;

    padding: 20px;
    margin: 32px 0!important;
}

.featuredImage {
    margin-bottom: 40px; 
}

.projectSummary  {
    text-align: right;
    font-family: "Roboto Mono";
    font-size: 14px;
}

.projectSummary > div {
    margin-left: auto;
    width: 350px; 
}

.projectContent> ul {
    list-style: none;
}

.bolder {
    font-weight: bold; 
    font-family: "Helvetica Neue"
}

.line { 
    margin-top: calc(1.45rem - 1px);
}

.projectNav {
    width: 250px; 
    bottom: 80px;
   
    left: 30%;
 
    display: flex; 
    flex-direction: column; 
    z-index: 2;

    margin-bottom: 80px;
}

.projectNav > a {
    text-decoration: none; 
    color: #0E072E; 
    margin: 12px 0;
    font-family: "roboto mono";
    
}

.projectNav > a:hover {
    font-weight: bold; 
    /* font-size: 18px;  */
}

.projectNav:nth-child(1n) {
    text-align: left;
}
.projectNav:nth-child(2n){
    text-align: right; 
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  
  {
      .projectHeader{
          margin-bottom: 20px; 
      }

      .projectContainer {
          margin-top: 0
      }

    
      
  }

  /* ----------- iPad 1, 2, Mini and Air ----------- */
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .projectSummary > div {
        width: auto;
    }

    .projectHeader {
        margin-top: 10vh;
        grid-column: 1/span 3;
    }

    .projectContainer {
        margin-top: 10vh;
        grid-column: 4/span 4;
    }

  }