.aboutContainer {

    width: 80%;

    margin-top: 400px;
    padding-left: 40vw;
    padding-bottom: 40px;
 
    margin-left: 80px;

    position: relative;
}

.aboutHeader {
    left: 24%; 
    top: 0; 
    position: absolute;
    /* border: 2px solid blue; */
    color: black;
    /* height: 400px; */
    width: 350px;
    text-align: right;
    letter-spacing: 2; 
}

#aboutIntro {
    transition: 1.5s all;
    color: black;
    position: fixed; 
    left: 24%; 
    top: 30vh;
}
.aboutDescription { 
    font-family: "Roboto Mono"
}

.aboutContent {
    margin-bottom: 80px;
}

.aboutImage{
    width: 270px; 
    height: 270px;
    margin-left: 32px;  
}

.bolder {
    font-weight: bold; 
    font-family: "Helvetica Neue"
}

.aboutSummary  {
    text-align: right;
    font-family: "Roboto Mono";
    /* font-size: 14px; */
}

.aboutSummary > div {
    margin: 16px 0 
}