.aboutContainer {


}

.aboutHeader {
 
    /* width: 350px; */
    text-align: right;

    grid-column: 2/span 2;
    margin-top: 35vh; 
}

#aboutIntro {

}
.aboutDescription { 
    font-family: "Roboto Mono"
}

.aboutContent {
    margin-top: 35vh; 
    margin-bottom: 80px;
    grid-column: 4/span 3;
}

.aboutImage{
    /* width: 400px; 
    margin-left: 32px;  */
    height: 350px; 

}

.bolder {
    font-weight: bold; 
    font-family: "Helvetica Neue"
}

.aboutSummary  {
    text-align: right;
    font-family: "Roboto Mono";
}

.aboutSummary > div {
    margin: 16px 0 
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .aboutHeader {
        text-align: right;
    /* grid-column: 2/span 2; */
        margin-top: 15vh;
        /* margin-top: 0  */
    }

    .aboutContent{
        margin-top: 0;
    }
    .aboutImage {
        height: auto;
    }
  }