.formContainer {
    /* width: 80%; */

    margin-top: 400px;
    /* padding-left: 40vw;
    padding-bottom: 40px; */
 
    margin-left: 80px;

    position: relative;

   

}

.formTitle {
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;

    /* left: 22%; 
    top: 0; 
    position: absolute; */

    color: #0E072E;
    margin-top: 35vh; 
    width: 350px;
    text-align: right;

    display: flex;
    flex-direction: column;
    grid-column: 2/span 2;
}

.formBlurb { 
    font-size: 16px;
    margin-left: 30%; 
    margin-top: 16px; 
    font-family: "Roboto mono";
}

.formBlurb::after {
    content: 'moc.gnayecargeht@mi';
    direction: rtl;
    unicode-bidi: bidi-override !important;
}

.contactForm {
    margin-top: 34vh; 
    display: flex; 
    flex-direction: column; 
    grid-column: 4/span 3;
}

input {
    border: 1px solid gray;
    width: 250px; 
    border-radius: 2px; 
    outline-width: 0;
}

input:focus {
    background-color: #0E072E;
    color: white;
    padding-inline-start: 1rem;
}

textarea {
    border: 1px solid gray;
    width: 250px; 
    border-radius: 2px;
}

textarea:focus {
    background-color: #0E072E;
    color: white;
    padding-inline-start: 1rem;
}

.formRow {
    display: flex; 
}

.formItem {
    display: flex; 
    flex-direction: column;
    width: 100%;
    padding: 16px; 
}

.textarea {
    width: 95%;
}


input { 
}

label {
  font-family: "Roboto mono";
  font-size: 14px; 
  font-weight: bold;
  margin-bottom: 12px
}

.submitButton { 
    width: 35%; 
    margin-top: 3rem;
    margin: auto 16px;
    background-color: black; 
    color: white;
    border-radius: 3px; 
    border-color: white;
}

.submitButton:focus {
    background-color: white;
    border:1px solid black;
    color: black;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .formContainer { 
        margin-top: 50vh;
        padding: 0;
        margin-left: 0;
    }

    .contactForm {
        margin-left: 0; 
        margin-top: 10vh;
        margin-bottom: 20vh;
    }

    input {
        outline: 1px solid gray;
        border-radius: 2px;
    }

    .formTitle {
        position: relative;
        left: 0;
        width:100%;
        margin-top: 15vh;
    }

    .formBlurb {
        margin-left: 0; 
    }

    .formRow {
        flex-direction: column;
    }

    input {
        outline: gray
    }
   }