.thinH1, .thinH4 {
    font-weight: normal
}

h4 {
    padding: 8px 0;
}

.landingLink {
    text-decoration: none;
    color: black;
    text-align:center;
    margin: auto; 
}

.landingActions {
    font-size: 36px; 
    display: flex; 
    justify-content: space-between;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0 auto; 
    padding: 120px 0px;
    height: 70vh;
}


.previewAction {
    border-bottom: 2px solid rgba(0,0,0,1)
}