.thinH1, .thinH4 {
    font-weight: normal
}

h4 {
    padding: 8px 0;
}

.landingLink {
    text-decoration: none;
    color: black;
    text-align:center;
    margin: auto; 
}

.landingActions {
    font-size: 18px; 
    letter-spacing: .5px;
    margin: 0 auto; 
    height: 15vh;
}

.hello {
    /* font-weight: bolder; */
    margin-bottom: 12px;
}
.greet {
    font-weight: lighten;
}

.previewAction {
    border-bottom: 2px solid rgba(0,0,0,1)
}

.projectContainer {
    width: 80%;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: right; 
    margin: auto; 

    overflow-y:scroll;
    padding-top: 150px;
    padding-left: 40px;
    padding-bottom: 40px
}

.projectContainer > a {
    /* flex-grow: 1 */
}


.projectStrip {
    /* width: 500px;  */
    margin-left: auto;
}

.stripHeader {
    font-weight: bolder;
}
.projectHeader {
    padding: 16px;
    margin: auto; 
    font-weight: bolder;
    margin-top: 40px; 
    margin-bottom: 24px; 
    letter-spacing: 1px;
    opacity: 8
}

.viewOptions { 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: auto
}

.viewToggle { 
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: black; 
    margin:16px;
  
}
