.projectContainer {

    max-width: 80%;
    margin: auto;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    /* justify-content: center; */
 
}

.projectHeader {
    margin: auto; 
    height: 2.25rem;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    margin: 40px 0 
}

.viewOptions { 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: auto
}

.viewToggle { 
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: black; 
    margin:16px;
  
}

.projectRow {
    display: flex;
    /* display: grid;  */
    /* grid-template-columns: repeat(3,1fr); */
    height: 300px;
    justify-content: center;
}