.Header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 32px;  
}

.logoLink  {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 18px; 
    letter-spacing: 1px;

    text-decoration: none; 
    color: black; 
    cursor: pointer;

    width: 100px
}


.logoLink:hover >  .g::after {
    content: "race";
}

.logoLink:hover > .y::after {
    content: "ang";
}

.logoLink > span {
    padding: 4px;
}
.slash {
    font-size: 28px;
    font-weight: lighter;
    opacity: .5
}

.headerLinks {
    display: flex;
    width: 180px; 
    justify-content: space-between;
    margin-right: 8px
}