.Header {
    display: flex; 
   
    justify-content: space-between;
    align-items: center;
    align-content: center;
  
    position: relative;
    top: 32px;
    z-index: 10;
    /* padding-bottom: 35vh; */
   
    flex-direction: column-reverse;
}

.logoLink  {
    display: flex;
    align-items: center;
    color:#0F0731;
    text-decoration: none; 
    cursor: pointer;
    position: relative;
}

.logoTitle {
    font-weight: bolder; 
    position: relative;
    top: 5%;   
    mix-blend-mode: difference;
}

.subtitle {
    display: block;
    font-family: "roboto mono";
    margin-top: 32px;
}

.logoLink:hover >  .g::after {
    content: "race";
}

.logoLink:hover > .y::after {
    content: "ang";
}

.logoLink > span {
    padding: 4px;
}

#headerTitle, #headerSubtitle {
    transition: 1.5s all;
}


/* ----------- Desktop ----------- */

@media only screen and (min-width: 768px){
    .header-module--Header--UTTVA {
        padding-bottom: 16px!important;
    }
    .Header {
        position: fixed;
        margin-left: 16px;
        flex-direction: row; 
        padding: 32px;  
        padding-bottom: 16px!important;
    }
    .logoTitle{
        position: fixed;
    }
    

 }

  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) {
    #headerTitle, #headerSubtitle {
        /* transition: 1.5s all; */
    }
    
    .Header {
        /* padding-bottom: 35vh; */
        position: relative;
        flex-direction: column-reverse;


    }

    .logoTitle {
        position: relative;
    }   
}




  /* ----------- iPad 1, 2, Mini and Air ----------- */
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1){ 
    .Header{
        position: relative
    }

    .logoTitle{
        position: relative
    }
  }