.links {

    flex-direction: column; 
    font-weight: bold;  
}

.links > a {
    text-decoration: none;
    margin-bottom: 16px;
    position: relative;
    height: 30px;
    width: 100px; 
    padding-right: 16px;
    transform: all 1s; 
    font-family: "Roboto mono";
    color: rgba(15, 7, 49, .75)
  }

  .links > a:hover {
      font-weight: bold; 
      font-size: 18px; 
  }

  .activeLink { 
      font-size: 20px; 
      font-family: "Helvetica Neue"!important;
      color: rgba(15, 7, 49, 1)!important;
  }

/* ----------- Desktop ----------- */

@media only screen and (min-width: 768px){
    .links {
        text-align: right;
        display: flex;
        margin-right: 32px;
        position: fixed; 
        right: 16px;  
        bottom: 32px; 
    }
}

@media (min-width: 768px){
    .links {
        display: flex; 
    }
}

  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      .links {
          display: none; 
          border:2px solid pink;
      }
      .links > a { 
          display: none;
      }
  }

@media (max-device-width: 375px) {
    .links {
        display: none; 
    }
    .links > a {
        display: none;
    }
}