

.links {
    display: flex;
    flex-direction: column; 
    margin-right: 32px;
    font-weight: bold; 
    text-align: right;
    position: fixed; 
    right: 16px;  
    bottom: 32px; 
    /* border: 1px solid pink;  */
}

.links > a{
    text-decoration: none;
    color: #0E072E;
    margin-bottom: 16px;
    position: relative;
    height: 30px;
    width: 100px; 
    padding-right: 16px;
    transform: all 1s; 
    font-family: "Roboto mono"
  }

  .links > a:hover {
      font-weight: bold; 
      font-size: 18px; 
  }
  .activeLink { 
      font-size: 20px; 
      font-family: "Helvetica Neue"!important;
  }


/* .activeLink::after {
    content: ""; 
    border:1px solid pink;
    width: 8px; 
    height: 8px; 
    position: absolute; 
    top: 30%; 
    right: -8px; 
    border-radius: 50%;
    background-image:radial-gradient(50% 80%, #1E0B40 50%, rgba(255,255,255,0.00) 100%);
} */
