

.links {
    display: flex;
    flex-direction: column; 
    margin-right: 32px;
    font-weight: bold; 
    text-align: right;
    position: fixed; 
    right: 32px; 
    bottom: 32px; 
}

.links > a{
    text-decoration: none;
    color: #0E072E;
    margin-bottom: 16px;
    position: relative;
  }

  .links > a:hover {
      letter-spacing: 1px; 
      font-weight: bold; 
  }


.links > a:before {
    content: ""; 
    position: absolute; 
    width: 95%;
    height: 2px; 
    bottom: -4px; 
    left: 0; 
    background-color: #0E072E;
    visibility: hidden;
    -webkit-transfor: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.links > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.links>div>a {
    color: #0E072E; 
    text-decoration: none; 
}