.pageTile {
    margin: 20px; 
    min-width: 200px; 
    min-height: 200px; 
    text-decoration: none; 
    
    color: white;
    letter-spacing: 1.5px;
    background-color: black;
    border: 1px solid pink;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.pageTile:hover, .pageTile:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

.pageTile > .pageTile_back {

   
}
.pageTile:hover > .pageTile_image, .pageTile:active > .pageTile_image {
    mix-blend-mode: multiply;
}

.pageTile_title {
    font-weight: bolder;
    font-size: 16px;
    
}

.pageTile_type {
    font-size: 16px;
    font-weight: lighten;
    padding-top: 4px; 

    text-transform: uppercase;

    display: none;
}

.pageTile_back {
    /* max-width: 500px;
    max-height: 300px; */
    box-shadow: 2px 2px 4px rgba(0,0,0,.2)
}

.pageTile_image > div > picture > img {
    object-position: top;
    position: relative;
    margin: 0!important
} 

.pageTile > img {
    object-position: top;
    position: relative;
    margin: 0!important
}

.pageTile_image > div {
    width: 150px;
    height: 150px;
    padding-bottom: 0
}