.socialLinks {
    position: fixed; 
    left:32px;
    bottom: 40px;
}

.socialFooter {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    align-content: center;

    position: relative
}

.socialFooter > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px; 
    letter-spacing: .5px; 
    text-transform: uppercase;
    text-decoration: none; 
    color: #0E072E;
}

.socialIcon {
    height: 32px; 
    width: 32px; 
    margin: 0 32px; 
    margin-bottom: 12px; 
    transition: .5s all
}

.iconLabel {
    margin: 0 auto;    
}

.socialIcon:hover {
    transform: scale(1.2)
}

.socialFooter > a:hover >.iconLabel {
    font-weight: bold
}