.menuToggle {
    width: 8px;
    height: 8px;

    background-color: white;

    /* box-sizing: border-box;
    border-top: 20px solid rgba(255,255,255,0);
    border-right:20px solid rgba(255,255,255,0);
    border-bottom: 20px solid rgba(255,255,255,0);
    border-left: 20px solid rgba(255,255,255,1) */
}

.toggleWrap {
    width: 24px; 
    height: 24px;
    background-color: white;
    border: 8px solid black
}