.scrollMenu {
    grid-column: 1 /span 1; 
    font-family: sans-serif;
    text-align: right; 
    font-size: 16px; 
}

.activeProject {
    font-weight: bolder;
    font-size: 20px; 
}
    
.scrollMenuTitle {
    font-weight: bold; 
    height: 48px;
    letter-spacing: 0.75px;
}